{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <h2 class="mb-4">My Profile</h2>
    <form method="post">
      <div class="mb-3">
        <label for="full_name" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="full_name" id="full_name" value="{{ current_user.full_name }}">
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{ current_user.phone }}">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" name="email" id="email" value="{{ current_user.email }}">
      </div>

      <div class="mb-3">
        <label for="ids" class="form-label">Personal ID</label>
        <input type="text" class="form-control" name="personal_id" id="phone" value="{{ current_user.personal_id }}">
      </div>

      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
  </div>
</div>
{% endblock %}
